<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/about/profile.png" alt="">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p class="section-subheading text-muted">
                    I'm a project coordinator at TechChange, based out of Washington, D.C. At TechChange, I design and develop trainings for non-profits and NGOs. I've re-designed our website, course platform, and user account pages. I've also coordinated the development of several trainings on topics such as Malaria Diagnosis, HIV/AIDS Patient Management, Teaching Literacy, and Incorporating Women into Conflict Resolution Efforts.
                    </p>
                    <p class="section-subheading text-muted">
                    Outside of work, I attend the CodeforDC meetup, as well as the AngularJS meetups. I also enjoy camping and long-distance running.
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p class="section-subheading text-muted">
                    I believe in Tech.
                    </p>
                </div>
            </div>
        </div>
    </section>