<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Here's what I've been up to:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">Graduated from Whitman College</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I graduated from Whitman College with a Degree in Politics with Honors. I wrote my honors thesis on the ties between commodities markets and food price instability.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">USAID | Tanzania</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After graduating from college, I worked for USAID Tanzania as a proram assistant. I did everything from writing speeches to analyzing the mission's foreign aid budget.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">The Knowledge Driven Microenterprise Project</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I worked as a communications assistant on the USAID Knowledge Driven Microenterprise Project, which served as a knowledge and training hub for foreign aid projects. I designed the project's <a href="http://kdmd.qedgroupllc.com">final report website</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">TechChange</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I joined TechChange as a project manager.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>