 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.url }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.url }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.url }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.url }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.url }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.url }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.url }}"></script>

    <!-- Github Feed Dependencies -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="{{ "/js/github-activity.min.js " | prepend: site.url }}"></script>

    <script type="text/javascript">
        GitHubActivity.feed({
            username: "cweems",
            selector: "#feed",
            limit: 20 // optional
        });
    </script>