body {
  margin: 0;
}
#header {
  background-color: #352D9F;
  padding: 20px;
  text-align: center;
  width: 100%
}

#main {
  width: 100%;
  border-radius: 3px;
  box-shadow: none;
}
.input-container {
  width: 100%;
}
.search-options {
  font-family: sans-serif;
  list-style-type: none;
}

.search-options li {
  padding: 10px;
  border-radius: 3px;
}

.confirmed {
  background-color: green;
  color: white;
}
