<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Bootstrap CSS -->

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

        <!-- Bootstrap JS -->

        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


    </head>
    <body>
         <div class="header">
            <nav class="navbar navbar-default" role="navigation">
              <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Charlie Weems</a>
              </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">Resume</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">About</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div>
            </nav>
        </div>
        <div class="content">

          {{ content }}

          <div class="footer">
            <div class="container">
              <div class="col-md-1">
              </div>
              <div class="col-md-2">
                <h4>Who I Am</h4>
              </div>
              <div class="col-md-2">
                <h4>My Work</h4>
              </div>
              <div class="col-md-2">
                <h4>Stories</h4>
              </div>
              <div class="col-md-2">
                <h4>Contact</h4>
              </div>
              <div class="col-md-2">
                <h4>Connect</h4>
              </div>
              <div class="col-md-1">
              </div>
              
            
            </div>
          </div>
        </div>

    </body>
</html>
